//
   Created by rainx on 15/5/18.

.remodal(data-remodal-id="add-filter", data-remodal-options="closeOnAnyClick:false")
   div(style="height:10px")
   h1 Add Filter

   form.pure-form
      fieldset
         legend Please Add a filter.
         input(type="text", style="width:300px; margin-right:10px;", name="pixel-filter")
         button(type="submit").pure-button.pure-button-primary.pixel-update-filter Update

         .note_of_it The Syntax of the rule, Please Refer to Our wiki
   div(style="height:10px")
   a.remodal-cancel(href="#") Close