//
   Created by rainx on 15/5/7.

.pixel-console-wrap
   .pixel-console-menu.pure-menu.pure-menu-horizontal
      a(href="#").pure-menu-heading.pure-menu-link Menu ☛
      ul.pure-menu-list
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-open-tree Edit Rule Structure
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-view-rule View Rule
         .pure-menu-item
            a(href="#",download="rule.json", target="_blank").pure-menu-link.pixel-download-rule Download Rule
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-save-rule Save Rule
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-save-template Save Template
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-load-rule Load Rule
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-sample-data Sample data
         .pure-menu-item
            a(href="#").pure-menu-link.pixel-help Help
   .pixel-console.pure-u-g
      .pixel-button.pure-u-1-12
         form.pure-form
            select.pixel-console-node
               option(value="-") --当前节点--
      .pure-u-7-12.pixel-console-source
         input(type="text").pure-u-1.pixel-console-selector
      .pure-u-1-12
         form.pure-form
            select.pixel-console-method
               option(value="text") --- text ---
               option(value="[href]") [href]
               option(value="[src]") [src]
               option(value="[id]") [id]
               option(value="[title]") [title]
               option(value="[value]") [value]
      button.pure-u-1-12.pure-button.pixel-console-filter filter
      button.pure-u-1-12.pure-button.pixel-console-action-inspect.tooltip(title="Press Ctrl/Cmd if you want a Multi-Dom Structure") inspect
      button.pure-u-1-12.pure-button.pure-button-primary.pixel-console-action-save Save
