//
   Created by rainx on 15/5/11.

.remodal(data-remodal-id="help", data-remodal-options="closeOnAnyClick:false")
   div(style="height:10px")
   h1 Help

   .pixel-help-body
      p Pixel Annotation Tool is a chrome extension to generate Pixel JSON rule to extractor script via annotation on dom .
      p Here is some keyboard shortcut, You could disable or enable them by click button "toggle shortcut"

      table.pure-table
         thead
            tr
               th Press this key
               th To do this
         tbody
            tr
               td Q
               td Quit Inspect Mode
            tr
               td P or >
               td In Inspect Node, Select the parent node of current selected element;
            tr
               td V
               td Print Annoation Rule into Chrome console Log


   div(style="height:10px")
   a.remodal-cancel(href="#") Close