//
   Created by rainx on 15/5/18.

.remodal(data-remodal-id="load-rule", data-remodal-options="closeOnAnyClick:false")
   div(style="height:10px")
   .load-rule-body
      h1 Load Rule

      h2 From Templates
      .emptyTemplates No Template Rules
      .templatesContent

      h2 Regex Rules within current domain
      .emptyRegexRules No Url Rules within current domain
      .regexRulesContent

      h2 Autosave Rules within current domain
      .emptyAutoSaveRules No Autosave Rules within current domain
      .autoSaveRulesContent

      div(style="height:10px")
   a.remodal-cancel(href="#") 关闭