//
   Created by rainx on 15/5/11.

.remodal(data-remodal-id="sampledata", data-remodal-options="closeOnAnyClick:false")
   div(style="height:10px")
   h1 Sample Data
   textarea.view-sample-data
   a.remodal-cancel(href="#") Close