//
   Created by rainx on 15/5/4.

.remodal(data-remodal-id="setting")
   .tabs
      .tab.tab-empty.hide
         h1 还没有创建抓取规则，请创建
            a.action-create(href="#") 点击创建
      .tab.tab-tree.hide
   a.remodal-cancel(href="#") 关闭