//
   Created by rainx on 15/5/4.

.remodal(data-remodal-id="setting", data-remodal-options="closeOnAnyClick:false")
   .tabs
      .tab.tab-empty.hide
         h1 No rule ，Please create one .
            a.action-create(href="#") Click to create
      .tab.tab-tree.hide

   div(style="height:10px")
   a.remodal-cancel(href="#") Close