//
   Created by rainx on 15/5/11.

.remodal(data-remodal-id="view-rule", data-remodal-options="closeOnAnyClick:false")
   div(style="height:10px")
   h1 View Rule
   textarea.view-rule-ta
   div(style="height:10px")
   div
      a.pure-button.pure-button-primary(action='view-stringify-text',href="javascript:void(0);") Stringify
      | &nbsp;
      a.pure-button.pure-button-primary(action='view-update-rule',href="javascript:void(0);") Update Rule
   div(style="height:10px")
   a.remodal-cancel(href="#") Close
