@nodeHeight : 60px;


[data-remodal-id="setting"] {

  .hide {
    display:none;
  }

  .tab-empty {
    h1 {
      font-size: 24px;
      line-height: 60px;
      padding: 20px;
    }
  }

  .tab-tree {
    ul {
      clear:both;
      list-style: none;
      margin:0;
      padding:0;
      display: block;
      width:100%;
      text-align:left;

      li {
        clear: both;
        list-style: none;

        .pixel-node {

          display: inline-block;

          .pixel-node-source,
          .pixel-node-name,
          .pixel-node-type,
          .pixel-node-add,
          .pixel-node-del{
            height: @nodeHeight;
            line-height: @nodeHeight;
            display: inline-block;
          }

          .pixel-node-name {
            min-width: 100px;
            line-height: @nodeHeight;
            height: @nodeHeight;
            font-size: 14px;
            background-color: #D8D8D8;
            text-align: center;
          }

          .pixel-node-type {
            width: 60px;
            line-height: @nodeHeight;
            font-size: 14px;
            color: white;
            text-align: center;

            &:hover {
              cursor: pointer;
            }
          }

          .pixel-node-type-string {
            background-color: #F5A623;
          }

          .pixel-node-type-array {
            background-color: #4A90E2;
          }

          .pixel-node-type-object {
            background-color: #3F9850;
          }

          a.pixel-node-add {
            width: 30px;
            line-height: @nodeHeight;
            font-size: 14px;
            background-color: #D8D8D8;
            text-align: center;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              background-color: #999;
              color: white;
            }
          }

          a.pixel-node-del {
            width: 10px;
            line-height: @nodeHeight;
            font-size: 14px;
            background-color: #D0021B;
            text-align: center;
            text-decoration: none;
            color: white;

            &:hover {
              cursor: pointer;
              background-color: #D16B78;
            }
          }


          a.pixel-node-source {
            width: 10px;
            line-height: @nodeHeight;
            font-size: 14px;
            background-color: #f0f0f0;
            text-align: center;
            text-decoration: none;
            color: #ccc;

            &.active {
              background-color: #62c462;
              color: #FFFF88;
            }

            &:hover {
              cursor: pointer;
              background-color: #333;
              color: white;
            }

          }

        }

        .pixel-node-next-level {
          margin-left: 200px;
        }

        .pixel-node-next-level .pixel-node {
          margin-left: -100px;

          &:before {
            content: "　";
            display: inline-block;
            width: 100px;
            height: @nodeHeight;
            border: 0px;
            background-image: url("../imgs/node-line-full.png");
            line-height: @nodeHeight;
          }

          &.last:before {
            content: "　";
            display: inline-block;
            width: 100px;
            height: @nodeHeight;
            border: 0px;
            background-image: url("../imgs/node-line-last.png");
            background-repeat: no-repeat;
            line-height: @nodeHeight;
          }
        }
      }
    }
  }
}



@consoleHeight : 60px;

// 控制面板
.pixel-console-wrap {
  position: fixed;
  bottom: 0; left: 0;
  z-index: 9999; /*--Keeps the panel on top of all other elements--*/

  border-bottom: none;
  width: 100%;
  margin: 0 0%;

  .pixel-console {
    height: @consoleHeight;
    line-height: @consoleHeight;
    background: #e3e2e2;
    border: 1px solid #c3c3c3;
  }


  .pixel-open-tree,.pixel-console-action-inspect, .pixel-console-action-save {
    height: @consoleHeight;
  }

  .pixel-console-action-save {
    background-color: rgb(28, 184, 65);
  }


  .pixel-console-source {
    background-color:white;
  }


  .pixel-console-selector {
    height:@nodeHeight;
    border:0px;
    color:#004444;
    padding-left:4px;
    padding-right:4px;
  }

  select.pixel-console-node {
    height:@nodeHeight;
    line-height: @nodeHeight;
    wdith: 100%;
    border:0px;
  }

  select.pixel-console-method {
    height:@nodeHeight;
    line-height: @nodeHeight;
    wdith: 100%;
    border:0px;
  }


  .pixel-console-menu {
    height: @nodeHeight;
    line-height: @nodeHeight;
    border-top:1px solid #ccc;
    background-color:white;
    text-align: left;
  }

  .pure-menu-list,.pure-menu-item,a.pure-menu-link  {
    height: @nodeHeight;
    line-height: @nodeHeight;
    padding-top:0px;
    padding-bottom: 0px;
  }

}

// 遮罩的风格
.pixel-current-target-mask {
  border: 1px solid #6f0300;
  box-shadow:0px 0px 8px #f00;
}

.pixel-current-target-active-mask {
  background-color: rgba(29, 199, 74, 0.5);
}

.pixel-help-body {
  text-align: left;
  padding-left:30px;
  padding-right:30px;
}


// view rule

.view-rule-ta,.view-sample-data {
  min-height:400px;
  min-width: 500px;
  width: 90%;
  background-color: #ffffee;
}

// hack for remodal

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 1200px;
    overflow-x: scroll;
  }
}